@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --header-footer: #000000;
    --background: #061E29;
    --font: aliceblue;
    --destaque: #38bdf8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.header {
    width: 100%;
    height: 85px;
    background-color: var(--header-footer);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav {
    width: 100%;
    height: 100%;
}

.lista-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 100%;
}

.lista-nav > li > a {
    text-decoration: none;
    color: var(--font);
    font-size: 40px;
    font-weight: bold;
    transition: 0.8s linear;
}

.lista-nav > li > a:hover {
    color: var(--destaque);
    border-bottom: 1px solid var(--destaque);
}

.trocador-linguagem {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 100px;
    padding: 10px;
    display: flex;
    gap: 4px;
}

.trocador-linguagem > button {
    background-color: #000000;
    border: 1px solid var(--destaque);
    width: 50%;
    color: var(--font);
    cursor: pointer;
    transition: 0.4s;
}

.trocador-linguagem > button:hover {
    background-color: #383838;
}

.main {
    width: 100%;
    max-width: 1400px;
    height: calc(100% - 185px);
    margin: 0 auto;
}

.contato-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato-box > h1 {
    color: var(--font);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contato-text {
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.contato-text > p {
    color: #585858;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 40px;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    height: 250px;
}

.redes > a {
    color: var(--destaque);
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
    margin: 20px 20px;
    border-radius: 20px;
    border: 1px solid var(--destaque);
    transition: 0.4s;
    width: 50%;
}

.redes > a:hover {
    background-color: var(--destaque);
    color: var(--header-footer);
    border-radius: 20px;
}

.redes > a > img {
    width: 150px;
    height: 150px;
}

.linha-vertical {
    width: 1px;
    height: 100%;
    background-color: var(--destaque);
}

.footer {
    width: 100%;
    height: 100px;
    background-color: var(--header-footer);
    display: flex;
}

.footer-section {
    flex: 1;
    width: 50%;
    padding: 10px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text > p {
    color: var(--font);
    font-weight: 200;
    font-size: 20px;
}

.footer-text > p > a {
    color: var(--destaque);
    text-decoration: none;
    font-weight: bold
}

/* Responsividade */

@media (max-width: 1000px) {
    .lista-nav > li > a {
        font-size: 30px;
    }

    .main {
        width: 85%;
        max-width: none;
    }
}

@media (max-width: 850px) {
    .trocador-linguagem {
        width: 70px;
        height: 35px;
    }

    .trocador-linguagem > button {
        font-size: 10px;
    }
}

@media (max-width: 675px) {
    .lista-nav > li > a {
        font-size: 25px;
    }

    .redes {
        flex-direction: column;
        height: 300px;
    }

    .redes > a {
        width: 80%;
    }  

    .linha-vertical {
        height: 1px;
        width: 80%;
    }
}

@media (max-width: 592px) {
    .lista-nav > li > a {
        font-size: 22px;
    }

    .contato-box > h1 {
        font-size: 30px;
    }

    .contato-text > p {
        font-size: 16px;
    }

    .redes {
        gap: 10px;
        margin: 0;
    }

    .redes > a {
        margin: 10px 0;
        font-size: 45px;
    }

    .redes > a > img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 428px) {
    .lista-nav > li > a {
        font-size: 22px;
    }

    .redes > a {
        font-size: 30px;
    }

    .redes > a > img {
        width: 80px;
        height: 80px;
    }

    .footer-text > p {
        font-size: 16px;
    }
}