@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --header-footer: #000000;
    --background: #061E29;
    --font: aliceblue;
    --destaque: #38bdf8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.header {
    width: 100%;
    height: 85px;
    background-color: var(--header-footer);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav {
    width: 100%;
    height: 100%;
}

.lista-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 100%;
}

.lista-nav > li > a {
    text-decoration: none;
    color: var(--font);
    font-size: 40px;
    font-weight: bold;
    transition: 0.8s linear;
}

.lista-nav > li > a:hover {
    color: var(--destaque);
    border-bottom: 1px solid var(--destaque);
}

.trocador-linguagem {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 100px;
    padding: 10px;
    display: flex;
    gap: 4px;
}

.trocador-linguagem > button {
    background-color: #000000;
    border: 1px solid var(--destaque);
    width: 50%;
    color: var(--font);
    cursor: pointer;
    transition: 0.4s;
}

.trocador-linguagem > button:hover {
    background-color: #383838;
}

.main {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.linha {
    border: 0;
    height: 1px;
    background-color: var(--destaque);
    margin: 20px 0;
}

.sobre-mim {
    display: flex;
    align-items: center;
    padding: 20px;
}

.sobre-mim > img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid var(--destaque);
    box-shadow: 0 1px 25px 1px var(--destaque);
    margin-right: 40px;
}

.sobre-mim-text {
    width: 100%;
    max-width: 700px;
}

.sobre-mim-text > h1 {
    color: var(--font);
    font-weight: normal;
    font-size: 50px;
}

.sobre-mim-text > h1 > span {
    color: var(--destaque);
    font-weight: 300;
}

.sobre-mim-text > h2 {
    color: var(--font);
    font-weight: 200;
    line-height: 25px;
}

.sobre-mim-text > h2 > span {
    font-weight: bold;
}

.sobre-mim-text > p {
    color: #585858;
    font-size: 18px;
    margin-top: 20px;
}

.sobre-text {
    margin: 50px 0;
}

.sobre-text > h2 {
    color: var(--font);
    font-size: 40px;
    margin: 15px 0;
    font-weight: normal;
}

.sobre-text > p {
    color: #b4b4b4;
    font-size: 18px;
}

.tecnologias {
    margin: 30px 0;
}

.tecnologias > h2 {
    color: var(--font);
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 20px;
}

.imagens {
    display: flex;
}

.imagens > img {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: var(--header-footer);
    display: flex;
}

.footer-section {
    flex: 1;
    width: 50%;
    padding: 10px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text > p {
    color: var(--font);
    font-weight: 200;
    font-size: 20px;
}

.footer-text > p > a {
    color: var(--destaque);
    text-decoration: none;
    font-weight: bold
}

/* Responsividade */

@media (max-width: 1450px) {
    .lista-nav > li > a {
        font-size: 30px;
    }

    .main {
        width: 90%;
        max-width: none;
    }

    .sobre-mim-text > h1 {
        font-size: 40px;
    }

    .sobre-mim-text > h2 {
        font-size: 25px;
    }

    .sobre-mim-text > p {
        font-size: 16px;
    }

    .sobre-text > h2 {
        font-size: 30px;
    }

    .sobre-text > p {
        font-size: 14px;
    }

    .tecnologias > h2 {
        font-size: 30px;
    }
    
    .imagens > img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 860px) {
    .lista-nav > li > a {
        font-size: 25px;
    }

    .sobre-mim-text > h1 {
        font-size: 30px;
    }

    .sobre-mim > img {
        width: 150px;
        height: 200px;
    }

    .sobre-mim-text > h2 {
        font-size: 17px;
    }

    .sobre-mim-text > p {
        font-size: 14px;
    }

    .sobre-text > h2 {
        font-size: 20px;
    }

    .sobre-text > p {
        font-size: 12px;
    }

    .tecnologias > h2 {
        font-size: 20px;
    }

    .imagens > img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 673px) {
    .trocador-linguagem{
        width: 70px;
        height: 35px;
        font-size: 15px;
    }

    .lista-nav > li > a {
        font-size: 17px;
    }

    .sobre-mim-text {
        width: 100%;
        max-width: none;
    }

    .sobre-mim-text > h1 {
        font-size: 25px;
    }

    .sobre-mim > img {
        width: 120px;
        height: 150px;
        margin-right: 20px;
    }

    .sobre-mim-text > h2 {
        font-size: 15px;
    }

    .sobre-mim-text > p {
        font-size: 14px;
    }

    .sobre-text > h2 {
        font-size: 18px;
    }

    .sobre-text > p {
        font-size: 12px;
    }

    .tecnologias > h2 {
        font-size: 18px;
    }

    .imagens > img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 560px) {
    .lista-nav > li > a {
        font-size: 25px;
    }

    .trocador-linguagem > button {
        font-size: 10px;
    }

    .sobre-mim {
        padding: 10px;
    }

    .sobre-mim-text > h1 {
        font-size: 20px;
    }

    .sobre-mim > img {
        width: 100px;
        height: 120px;
    }

    .sobre-mim-text {
        width: 90%;
    }

    .sobre-mim-text > h2 {
        font-size: 12px;
    }

    .sobre-mim-text > p {
        font-size: 12px;
    }

    .sobre-text > h2 {
        font-size: 16px;
    }

    .sobre-text > p {
        font-size: 10px;
    }

    .tecnologias > h2 {
        font-size: 16px;
    }

    .imagens > img {
        width: 50px;
        height: 50px;
    }

    .footer-text > p {
        font-size: 14px;
    }
}

@media (max-width: 460px) {
    .lista-nav > li > a {
        font-size: 22px;
    }

    .sobre-mim > img {
        width: 150px;
        height: 170px;
    }

    .sobre-mim-text > h1 {
        font-size: 18px;
    }

    .sobre-mim-text > h2 {
        font-size: 10px;
    }

    .sobre-mim-text > p {
        font-size: 10px;
    }
}