@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --header-footer: #000000;
    --background: #061E29;
    --font: aliceblue;
    --destaque: #38bdf8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.header {
    width: 100%;
    height: 85px;
    background-color: var(--header-footer);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav {
    width: 100%;
    height: 100%;
}

.lista-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 100%;
}

.lista-nav > li > a {
    text-decoration: none;
    color: var(--font);
    font-size: 40px;
    font-weight: bold;
    transition: 0.8s linear;
}

.lista-nav > li > a:hover {
    color: var(--destaque);
    border-bottom: 1px solid var(--destaque);
}

.trocador-linguagem {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 100px;
    padding: 10px;
    display: flex;
    gap: 4px;
}

.trocador-linguagem > button {
    background-color: #000000;
    border: 1px solid var(--destaque);
    width: 50%;
    color: var(--font);
    cursor: pointer;
    transition: 0.4s;
}

.trocador-linguagem > button:hover {
    background-color: #383838;
}

.main {
    height: calc(100% - 100px - 85px);
    width: 100%;
    display: flex;
}

.column {
    flex: 1;
    height: 100%;
    width: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--background);
}

.left > h1 {
    font-size: 85px;
    width: 100%;
    max-width: 700px;
    color: var(--font);
    text-shadow: 0 6px 10px var(--destaque);
    margin-bottom: 10px;
}

.texto-eu {
    width: 100%;
    max-width: 700px;
    font-size: 20px;
    color: #d4d4d4;
}

.right {
    background-color: var(--background);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right > img {
    border-radius: 50%;
    width: 100%;
    max-width: 550px;
    height: 550px;
    border: 2px solid var(--destaque);
    box-shadow: 5px 10px 20px var(--destaque);
    animation: up 5s infinite linear;
}

@keyframes up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-55px);
    }
    100% {
        transform: translateY(0);
    }
}

.footer {
    width: 100%;
    height: 100px;
    background-color: var(--header-footer);
    display: flex;
}

.footer-section {
    flex: 1;
    width: 50%;
    padding: 10px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #383838;
}

.footer-text > p {
    color: var(--font);
    font-weight: 200;
}

.footer-text > p > a {
    color: var(--destaque);
    text-decoration: none;
    font-weight: bold
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-link {
    display: flex;
    border: 1px solid var(--destaque);
    margin-right: 18px;
    padding: 10px;
    cursor: pointer;
}

.github-link:hover {
    background-color: rgb(59, 59, 59);
}

.github-text {
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.github-text > p {
    color: var(--font);
    font-size: 30px;
    font-weight: bold;
}

.github-link > a > img {
    width: 40px;
    height: 40px;
}

.linkedin-link {
    display: flex;
    border: 1px solid var(--destaque);
    padding: 10px;
    cursor: pointer;
}

.linkedin-link:hover {
    background-color: rgb(59, 59, 59);
}

.linkedin-text {
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.linkedin-text > p {
    color: var(--font);
    font-size: 30px;
    font-weight: bold;
}

.linkedin-link > a > img {
    width: 40px;
    height: 40px;
}

/* Resposividade */

@media (max-width: 1190px) {
    .main {
        padding-left: 20px;
    }

    .texto-eu > p {
        font-size: 17px;
    }
    .left > h1 {
        font-size: 60px;
    }

    .right > img {
        width: 100%;
        max-width: 400px;
        height: 400px;
    }

    @keyframes up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
    }
}

@media (max-width: 855px) {
    .lista-nav > li > a {
        font-size: 25px;
    }

    .texto-eu > p {
        font-size: 14px;
    }

    .left > h1 {
        font-size: 45px;
    }

    .right > img {
        width: 100%;
        max-width: 300px;
        height: 300px;
    }
}

@media (max-width: 787px) {
    .main {
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 20px;
    }

    .texto-eu > p {
        font-size: 16px;
    }

    .left {
        width: 100%;
        height: 50%;
        text-align: center;
    }

    .left > h1 {
        font-size: 60px;
    }

    .right {
        width: 100%;
        height: 50%;
    }

    .right > img {
        width: 100%;
        max-width: 400px;
        height: 400px;
        animation: up 3s infinite linear;
    }

    @keyframes up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
    }

    .github-text > p, .linkedin-text > p {
        font-size: 20px;
    }
}

@media (max-width: 645px) {
    .lista-nav > li > a {
        font-size: 20px;
    }

    .texto-eu > p {
        font-size: 14px;
    }

    .left > h1 {
        font-size: 45px;
    }

    .right {
        align-items: flex-end;
    }

    .right > img {
        width: 100%;
        max-width: 300px;
        height: 300px;
    }

    .github-text > p, .linkedin-text > p {
        font-size: 16px;
    }

    .github-link > a > img, .linkedin-link > a > img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 562px) {
    .main {
        height: calc(100dvh - 185px);
    }

    .trocador-linguagem {
        height: 35px;
        width: 70px;
    }

    .trocador-linguagem > button {
        font-size: 10px;
    }

    .github-text > p, .linkedin-text > p {
        font-size: 12px;
    }

    .github-link > a > img, .linkedin-link > a > img {
        width: 25px;
        height: 25px;
    }

    .footer-text > p {
        font-size: 12px;
    }
}

@media (max-width: 466px) {
    .lista-nav > li > a {
        font-size: 22px;
    }

    .main {
        height: calc(100dvh - 185px);
    }

    .texto-eu > p {
        font-size: 12px;
    }

    .github-link > a > img, .linkedin-link > a > img {
        width: 18px;
        height: 18px;
    }

    .github-text > p, .linkedin-text > p {
        font-size: 8px;
    }

    .footer-text > p {
        font-size: 8px;
    }
}

@media (max-height: 825px) {
    .right > img {
        width: 100%;
        max-width: 250px;
        height: 250px;
    }
}

@media (max-height: 723px) {
    .right > img {
        width: 100%;
        max-width: 220px;
        height: 220px;
    }   
}

@media (max-height: 659px) {
    .right > img {
        width: 100%;
        max-width: 200px;
        height: 200px;
    }
}